
<div class="container">
    <form [formGroup]="emailForm" >
      <div class="row">
        <div class="col-md-1">
          <label for="email">E-mail</label>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                     <button class="btn btn-success" type="button">Send Mail</button>
                </span>
             </div>
        </div>
      </div>
      <div class="col-md-1">
        <label for="email">OTP</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control">
         </div>


    </div>
    <div class="row">
        <div class="row">
        <div class="align-self-end ml-auto">
            <button class="btn btn-primary">Validate</button>
        </div></div>
    </div>
    </form>

   



  </div>

  